body {
  height: 100vh;
  background: linear-gradient(#f9e5c8 60%, #e7bb8f 40%);
  /* overflow: hidden; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-board {
  width: 900px;
  height: 300px;
  border: 5px solid;
  border-radius: 10%;
  padding: 20px;
  position: absolute;
  left: calc(25.5%);
  margin-top: 20px;
  background-color: white;
  border-color: black;
}

.ice-cream-menu {
  text-align: center;
}

.ice-cream-menu {
  animation-name: menu-glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes menu-glow {
  0% {
    text-shadow: 0 0 5px red;
  }
  50% {
    text-shadow: 0 0 5px green;
  }
  100% {
    text-shadow: 0 0 5px blue;
  }
}

.menu-board ul {
  list-style: none;
}

/* ============================ TABLE ============================ */

.left-box {
  width: 300px;
  height: 220px;
  border: 5px solid;
  border-radius: 10% 10% 0 10%;
  padding: 20px;
  position: absolute;
  left: calc(11%);
  margin-top: 660px;
  background: linear-gradient(#5b3924 63%, #3e2723 37%);
  border-color: black;
}

.left-right-box-white {
  width: 250px;
  height: 150px;
  border: 5px solid;
  border-radius: 10% 10% 0 0;
  padding: 20px;
  position: absolute;
  left: calc(7.7%);
  margin-top: 44px;
  background: white;
  border-color: black;
}

.hr {
  width: 73px;
  border: 2px solid black;
  position: absolute;
  top: -22%;
  right: 89%;
  transform: rotate(71deg);
}

.hr1 {
  width: 73px;
  border: 2px solid black;
  position: absolute;
  top: -24%;
  right: -18%;
  transform: rotate(-73deg);
}

.table-box {
  width: 880px;
  height: 270px;
  border: 5px solid;
  padding: 20px;
  position: absolute;
  left: calc(26.4%);
  margin-top: 610px;
  background: linear-gradient(#5b3924 63%, #3e2723 37%);
}
.table-box-white {
  width: 770px;
  height: 23px;
  border: 5px solid;
  padding: 20px;
  position: absolute;
  left: calc(6%);
  margin-top: 10px;
  background: white;
}

.right-box {
  width: 300px;
  height: 220px;
  border: 5px solid;
  border-radius: 10% 10% 10% 0;
  padding: 20px;
  position: absolute;
  left: calc(72.1%);
  margin-top: 660px;
  background: linear-gradient(#5b3924 63%, #3e2723 37%);
}

.hr {
  width: 73px;
  border: 2px solid black;
  position: absolute;
  top: -22%;
  right: 89%;
  transform: rotate(71deg);
}

.hr1 {
  width: 73px;
  border: 2px solid black;
  position: absolute;
  top: -24%;
  right: -18%;
  transform: rotate(-73deg);
}
/* ============================ WINDOW ============================ */
.window {
  width: 708px;
  height: 185px;
  border: 5px solid;
  border-radius: 35% 35% 0 0;
  padding: 20px;
  position: absolute;
  left: calc(5.9%);
  margin-top: -160px;
  background: rgba(255, 255, 255, 0.55);
}

/* ============================ TABLE ============================ */
.box4 {
  width: 1000px;
  height: 50px;
  border: 5px solid;
  border-radius: 21% 21% 0 0;
  padding: 20px;
  position: absolute;
  left: calc(23%);
  margin-top: 570px;
  background-color: #3e2723;
}
/* ===============================Toggle Boxes=============================== */

.toggle-box {
  display: none;
  width: 100%;
  height: 100%;
  z-index: index 0;
}

.toggle-label {
  display: block;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  font-weight: bold;
  border-radius: 8px;
  rotate: -90deg;
  translate: right 25px;
}

.flavor-list {
  display: none;
  background-color: #fff0f5;
  margin: 0 0 10px 20px;
  padding: 10px;
  rotate: -90deg;
}

/* ============================ ICE CREAM FLAVORS ============================*/

.ice-creams {
  width: 120px;
  height: 70px;
  border: 2px solid grey;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  rotate: 90deg;
  padding: 20px;
  position: absolute;
  bottom: 47px;
  left: calc(5.5%);
  background-color: white;
}

/* Show the flavor list when the checkbox is checked */
.toggle-box:checked + .toggle-label + .flavor-list {
  display: block;
  border: 5px solid black;
}
.toggle-vanilla {
  display: none;
}
.toggle-vanilla:checked {
  display: flex;
  border: 1px solid black;
  border-radius: 50%;
  background: black;
  height: 200px;
  width: 200px;
}
.toggle-vanilla:checked .toggle-label {
  display: none;
}

.ice-creams1 {
  width: 120px;
  height: 70px;
  border: 2px solid grey;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  rotate: 90deg;
  padding: 20px;
  position: absolute;
  bottom: 47px;
  left: calc(13%);
  background-color: chocolate;
}

.ice-creams2 {
  width: 120px;
  height: 70px;
  border: 2px solid grey;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  rotate: 90deg;
  padding: 20px;
  position: absolute;
  bottom: 47px;
  left: calc(20.4%);
  background-color: #ffc0cb;
}
.ice-creams3 {
  width: 120px;
  height: 70px;
  border: 2px solid grey;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  rotate: 90deg;
  padding: 20px;
  position: absolute;
  bottom: 47px;
  left: calc(28%);
  background-color: #dda0dd;
}
.ice-creams4 {
  width: 120px;
  height: 70px;
  border: 2px solid grey;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  rotate: 90deg;
  padding: 20px;
  position: absolute;
  bottom: 47px;
  left: calc(35.5%);
  background-color: #98fb98;
}
.ice-creams5 {
  width: 120px;
  height: 70px;
  border: 2px solid grey;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  rotate: 90deg;
  padding: 20px;
  position: absolute;
  bottom: 47px;
  left: calc(43%);
  background-color: #add8e6;
}

.ice-creams6 {
  width: 120px;
  height: 70px;
  border: 2px solid grey;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  rotate: 90deg;
  padding: 20px;
  position: absolute;
  bottom: 47px;
  left: calc(50.4%);
  background-color: #add8e6;
}

.ice-creams7 {
  width: 120px;
  height: 70px;
  border: 2px solid grey;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  rotate: 90deg;
  padding: 20px;
  position: absolute;
  bottom: 47px;
  left: calc(57.9%);
  background-color: #c98b5d;
}

.ice-creams8 {
  width: 120px;
  height: 70px;
  border: 2px solid grey;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  rotate: 90deg;
  padding: 20px;
  position: absolute;
  bottom: 47px;
  left: calc(65.4%);
  background-color: #ffb6c1;
}

/* ============================ REGISTER ============================ */

.register {
  width: 110px;
  height: 60px;
  background: #444;
  position: absolute;
  top: 515px;
  right: 580px;
  border-radius: 5px;
}
.register1 {
  width: 70px;
  height: 30px;
  background: #444;
  position: absolute;
  bottom: 60px;
  left: 20px;
  border-radius: 5px;
}

/* ============================ PIGGY BANK ============================*/
.piggy-wrapper {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 533px;
  right: 540px;
  margin: 0 auto;
}

.piggy-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: bottom center;
  animation: trembling 5s linear infinite;
}

@keyframes trembling {
  0%,
  19%,
  22%,
  24%,
  26%,
  28%,
  30%,
  61%,
  100% {
    transform: scale(1);
  }
  21%,
  23%,
  25%,
  27%,
  29% {
    transform: scale(0.99);
  }
  60% {
    transform: scale(0.95);
  }
}

.piggy {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -22px;
  width: 45px;
  height: 30px;
  background-color: #d88fa0;
  border-radius: 20px;
}

.piggy-logo {
  display: none;
}

.piggy-nose {
  position: absolute;
  top: 10px;
  left: -4px;
  width: 6px;
  height: 10px;
  background-color: #d88fa0;
  border-radius: 3px 0 0 3px;
  z-index: 1;
}

.piggy-mouth {
  position: absolute;
  top: 12px;
  left: -3px;
  width: 0;
  height: 0;
  z-index: 8;
  border-bottom: 10px solid #d88fa0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-radius: 4px;
}

.piggy-ear {
  position: absolute;
  top: -5px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-top-right-radius: 10px;
  background-color: #d88fa0;
  z-index: 1;
}

.piggy:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 9px;
  width: 10px;
  height: 10px;
  background-color: #cb6980;
  border-top-right-radius: 10px;
  opacity: 0.8;
  z-index: -1;
}

.piggy-tail {
  position: absolute;
  left: 95%;
  top: 16px;
}

.piggy-tail span {
  position: absolute;
  width: 2px;
  height: 1px;
  background-color: #d88fa0;
  transform: rotate(30deg);
}

.piggy-tail span:nth-child(2),
.piggy-tail span:nth-child(3),
.piggy-tail span:nth-child(4) {
  display: none;
}

.piggy-eye {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #fff;
  border-color: #fff transparent transparent #fff;
  transform: rotate(45deg);
  animation: blink 5s linear infinite;
}

@keyframes blink {
  0%,
  19%,
  61%,
  100% {
    border-color: #fff transparent transparent #fff;
  }
  20%,
  60% {
    border-color: transparent #fff #fff transparent;
  }
}

.piggy-hole {
  position: absolute;
  left: 16px;
  top: 0;
  width: 10px;
  height: 2px;
  background-color: #cb6980;
  border-radius: 0 0 2px 2px;
  opacity: 0.5;
}

.coin-wrap {
  display: none;
}

.piggy-legs {
  position: absolute;
  bottom: 2px;
  left: 25%;
  width: 5px;
  height: 10px;
  background-color: #d88fa0;
  border-radius: 1px;
}

.piggy-legs:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 2px;
  background-color: #cb6980;
  border-radius: 0 1px 1px 0;
  opacity: 0.5;
}

.piggy-legs.back {
  left: 55%;
}

/* ============================ ICE CREAM CONE ============================*/
:root {
  --cone-color: #ffc57a;
  --waffle-color: #f59918;
}

.box-canvas {
  position: relative;
  display: block;
  width: 150px;
  height: 600px;
}

.cone {
  position: absolute;
  top: 560px;
  width: 80px;
  height: 110px;
  left: 280px;
  transform: translateX(-50%);
  border: 3px solid brown;
  background: var(--cone-color);
  background: repeating-linear-gradient(
    45deg,
    var(--cone-color),
    var(--cone-color) 20px,
    var(--waffle-color) 20px,
    var(--waffle-color) 25px
  );
  clip-path: polygon(45% 100%, 55% 100%, 100% 0, 0 0);
}

.cone1 {
  position: relative;
  bottom: 25px;
  width: 80px;
  height: 110px;
  left: 280px;
  transform: translateX(-50%);
  border: 3px solid brown;
  background: var(--cone-color);
  background: repeating-linear-gradient(
    45deg,
    var(--cone-color),
    var(--cone-color) 20px,
    var(--waffle-color) 20px,
    var(--waffle-color) 25px
  );
  clip-path: polygon(45% 100%, 55% 100%, 100% 0, 0 0);
}

.cone2 {
  position: relative;
  bottom: 611px;
  width: 80px;
  height: 110px;
  left: 280px;
  transform: translateX(-50%);
  border: 3px solid brown;
  background: var(--cone-color);
  background: repeating-linear-gradient(
    45deg,
    var(--cone-color),
    var(--cone-color) 20px,
    var(--waffle-color) 20px,
    var(--waffle-color) 25px
  );
  clip-path: polygon(45% 100%, 55% 100%, 100% 0, 0 0);
}
.cone3 {
  position: relative;
  bottom: 199%;
  width: 80px;
  height: 110px;
  left: 280px;
  transform: translateX(-50%);
  border: 3px solid brown;
  background: var(--cone-color);
  background: repeating-linear-gradient(
    45deg,
    var(--cone-color),
    var(--cone-color) 20px,
    var(--waffle-color) 20px,
    var(--waffle-color) 25px
  );
  clip-path: polygon(45% 100%, 55% 100%, 100% 0, 0 0);
}
.cone4 {
  position: absolute;
  bottom: 378%;
  width: 80px;
  height: 110px;
  left: 280px;
  transform: translateX(-50%);
  border: 3px solid brown;
  background: var(--cone-color);
  background: repeating-linear-gradient(
    45deg,
    var(--cone-color),
    var(--cone-color) 20px,
    var(--waffle-color) 20px,
    var(--waffle-color) 25px
  );
  clip-path: polygon(45% 100%, 55% 100%, 100% 0, 0 0);
}

.cone5 {
  position: absolute;
  bottom: 488.5%;
  width: 80px;
  height: 110px;
  left: 390px;
  transform: translateX(-50%);
  border: 3px solid brown;
  background: var(--cone-color);
  background: repeating-linear-gradient(
    45deg,
    var(--cone-color),
    var(--cone-color) 20px,
    var(--waffle-color) 20px,
    var(--waffle-color) 25px
  );
  clip-path: polygon(45% 100%, 55% 100%, 100% 0, 0 0);
}

.cone6 {
  position: absolute;
  bottom: 585.9%;
  width: 80px;
  height: 110px;
  left: 390px;
  transform: translateX(-50%);
  border: 3px solid brown;
  background: var(--cone-color);
  background: repeating-linear-gradient(
    45deg,
    var(--cone-color),
    var(--cone-color) 20px,
    var(--waffle-color) 20px,
    var(--waffle-color) 25px
  );
  clip-path: polygon(45% 100%, 55% 100%, 100% 0, 0 0);
}

.cone7 {
  position: absolute;
  bottom: 683.5%;
  width: 80px;
  height: 110px;
  left: 390px;
  transform: translateX(-50%);
  border: 3px solid brown;
  background: var(--cone-color);
  background: repeating-linear-gradient(
    45deg,
    var(--cone-color),
    var(--cone-color) 20px,
    var(--waffle-color) 20px,
    var(--waffle-color) 25px
  );
  clip-path: polygon(45% 100%, 55% 100%, 100% 0, 0 0);
}
.cone8 {
  position: absolute;
  bottom: 780.7%;
  width: 80px;
  height: 110px;
  left: 390px;
  transform: translateX(-50%);
  border: 3px solid brown;
  background: var(--cone-color);
  background: repeating-linear-gradient(
    45deg,
    var(--cone-color),
    var(--cone-color) 20px,
    var(--waffle-color) 20px,
    var(--waffle-color) 25px
  );
  clip-path: polygon(45% 100%, 55% 100%, 100% 0, 0 0);
}
.cone9 {
  position: absolute;
  bottom: 878%;
  width: 80px;
  height: 110px;
  left: 390px;
  transform: translateX(-50%);
  border: 3px solid brown;
  background: var(--cone-color);
  background: repeating-linear-gradient(
    45deg,
    var(--cone-color),
    var(--cone-color) 20px,
    var(--waffle-color) 20px,
    var(--waffle-color) 25px
  );
  clip-path: polygon(45% 100%, 55% 100%, 100% 0, 0 0);
}

/* ============================ EMPLOYEE ============================*/
.canvas {
  --line: #222;
  --skin: #fca;
  --skin-dark: #eb9;
  --skin-light: #fdb;
  --shirt: #fff;
  color: var(--line);
  width: 30vmin;
  height: 30vmin;
  position: absolute;
  bottom: 35%;
  left: 55%;
  overflow: hidden;
  z-index: -100;
}

.canvas div {
  position: absolute;
  box-sizing: border-box;
}

.face {
  top: 13%;
  left: 50%;
  width: 40%;
  height: 50%;
  background: #fca;
  border: 1vmin solid;
  border-radius: 0 20% 50% 70% / 50%;
  box-shadow: -0.125vmin 0.25vmin, inset -1.5vmin 0.5vmin var(--skin-light),
    inset 3vmin 0.5vmin var(--skin-dark);
  transform: translate(-50%, 0);
}

.ear {
  width: 35%;
  height: 40%;
  background: var(--skin-dark);
  border-radius: 70% 70% 40% 90% / 50% 50% 100% 90%;
  border: 1vmin solid;
  border-right-color: var(--skin-dark);
  top: 34%;
  transform: rotate(-5deg);
  left: -25%;
  box-shadow: -0.25vmin -0.25vmin;
}

.ear::before {
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 20%;
  left: 8%;
  border: 0.25vmin solid transparent;
  border-top: 1vmin solid;
  transform: rotate(15deg);
}

.mouth {
  width: 50%;
  height: 20%;
  border-radius: 50%;
  border: 0.5vmin solid transparent;
  border-left: 1.5vmin solid transparent;
  border-bottom: 1vmin solid;
  transform: rotate(10deg);
  top: 60%;
  left: 35%;
}

.nose {
  width: 20%;
  height: 14%;
  border-radius: 50%;
  top: 53%;
  left: 55%;
  box-shadow: 0.5vmin -0.5vmin, 0.5vmin -0.35vmin,
    inset -0.75vmin 0.65vmin var(--skin-light);
  border: 0.5vmin solid transparent;
  border-top: 0.5vmin solid;
  border-right: 0.5vmin solid;
}

.eyebrow {
  width: 38%;
  height: 15%;
  border-radius: 100% / 50%;
  top: 25%;
  left: 20%;
  box-shadow: -0.25vmin -2vmin 0 -0.5vmin;
  transform: rotate(-5deg);
}

.eyebrow + .eyebrow {
  transform: scaleX(-1) rotate(-3deg);
  left: 68%;
  width: 35%;
}

.eye {
  width: 10%;
  height: 10%;
  background: var(--line);
  border-radius: 50%;
  top: 35%;
  left: 37%;
  background-image: radial-gradient(circle at 70% 20%, #fff 15%, transparent 0);
  background-repeat: no-repeat;
}

.eye + .eye {
  left: 77%;
  top: 35.25%;
}

.hair-side {
  width: 40%;
  height: 50%;
  background: var(--line);
  border-radius: 100% / 90% 60% 150% 150%;
  left: -35%;
  top: -5%;
  transform: rotate(-10deg);
  box-shadow: 2.25vmin -1vmin var(--skin-dark);
}

.hair-top {
  width: 145%;
  height: 35%;
  background: var(--line);
  border-radius: 50% 120% 120% 50% / 100%;
  top: -30%;
  left: -30%;
}

.hair-back {
  width: 20%;
  height: 30%;
  background: var(--line);
  border-radius: 100% / 90% 90% 100% 100%;
  left: 52%;
  top: 5%;
  transform: rotate(-5deg);
}

.ear-back {
  width: 13%;
  height: 18%;
  border-radius: 50% 80% 90% 90%;
  border: 1vmin solid;
  background: var(--skin);
  top: 27%;
  left: 60%;
}

.neck {
  width: 22%;
  height: 26%;
  border: 1vmin solid;
  border-radius: 100% / 0 0 40% 40%;
  border-left: 1.25vmin solid;
  background: var(--skin);
  background-image: radial-gradient(
      circle at 100% -60%,
      var(--skin-dark) 60%,
      transparent 0
    ),
    linear-gradient(to left, var(--skin-light) 1vmin, transparent 0),
    linear-gradient(to right, var(--skin-dark) 2vmin, transparent 0);
  top: 51.5%;
  left: 46%;
  transform: translate(-50%, 0);
}

.body {
  width: 84%;
  height: 90%;
  background: var(--shirt);
  border: 1vmin solid;
  border-radius: 100% / 35% 40% 120% 100%;
  top: 72%;
  left: 45%;
  transform: translate(-50%, 0);
  box-shadow: -0.25vmin -0.5vmin;
}

.arm {
  width: 20%;
  height: 30%;
  border: 1vmin solid transparent;
  border-left: 1.5vmin solid;
  background: #f007;
  border-radius: 120% 0 0 0;
  top: 80%;
  left: -8.5%;
  background: var(--shirt);
  box-shadow: 1vmin 10vmin;
}

.arm.arm-back {
  border-right: 1vmin solid;
  box-shadow: none;
  border-radius: 0 120% 0 0;
  left: 75%;
}

/* ============================ CUSTOMER - ONE ============================ */

.bat-container {
  position: absolute;
  bottom: 50px;
  left: 0;
  transform: scale(0.5);
  transform-origin: bottom left;
  animation: bat-movement;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

@keyframes bat-movement {
  from {
    transform: translate(-100px);
  }
  60% {
    transform: translate(1200px);
  }
  70% {
    transform: translate(1200px);
  }
  80% {
    transform: translate(1200px);
  }
  90% {
    transform: translate(1200px);
  }
  to {
    transform: translate(1900px);
  }
}

#face {
  height: 200px;
  width: 200px;
  border-radius: 0px 0px 33px 33px;
  background: #212121;
  margin-top: 132px;
  border: 10px solid #221715;
  position: relative;
  z-index: 2;
}

.ear1 {
  width: 32px;
  height: 33px;
  background: #212121;
  border-top: 10px solid #221715;
  border-right: 11px solid #221715;
  border-left: 10px solid #221715;
  border-top-left-radius: 66px;
  border-top-right-radius: 51px;
  margin-top: -33px;
  margin-left: -10px;
}
.ear2 {
  width: 32px;
  height: 33px;
  background: #212121;
  border-top: 10px solid #221715;
  border-right: 10px solid #221715;
  border-left: 9px solid #221715;
  border-top-left-radius: 50px;
  border-top-right-radius: 71px;
  margin-top: -33px;
  margin-left: 158px;
}

.face_shade {
  height: 140px;
  width: 155px;
  background: #2b2b2b;
  border-radius: 62px 62px 62px 62px;
  margin-left: 25px;
}
.circle1 {
  width: 38px;
  height: 38px;
  background: #414141;
  border-radius: 50%;
  margin-top: -130px;
  margin-left: 95px;
}
.circle2 {
  width: 18px;
  height: 18px;
  background: #414141;
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 129px;
}
.lower_face {
  width: 148px;
  height: 42px;
  background: #efb786;
  border-radius: 0px 0px 30px 47px;
  border-top: 10px solid #221715;
  margin-top: -42px;
  margin-left: 33px;
}
.lower_face_shade {
  width: 182px;
  height: 42px;
  background: #bc8861;
  border-radius: 0px 0px 30px 30px;
  border-top: 10px solid #221715;
  margin-top: 71px;
}
.bat-mouth {
  border-top: 7px solid #221715;
  margin-top: -25px;
  width: 80px;
  margin-left: 51px;
}
.bat-mouth::before {
  content: "";
  position: absolute;
  border: 3px solid #221715;
  margin-top: -3px;
  width: 18px;
  margin-left: -12px;
  transform: rotate(-47deg);
  border-radius: 17px;
}
.bat-mouth::after {
  content: "";
  position: absolute;
  border: 3px solid #221715;
  margin-top: -3px;
  width: 18px;
  margin-left: 74px;
  transform: rotate(49deg);
  border-radius: 17px;
}
.bat-chin {
  width: 17px;
  height: 10px;
  background: #bc8861;
  border-radius: 30px 30px 0px 0px;
  margin-left: 81px;
  margin-top: 8px;
}
#torso {
  height: 148px;
  width: 134px;
  border-radius: 0px 0px 45px 45px;
  background: #474747;
  margin-top: -76px;
  margin-left: 25px;
  border: 10px solid #221715;
}
.torso_shade {
  height: 124px;
  width: 94px;
  border-radius: 0px 0px 45px 45px;
  background: #939796;
  margin-top: 4px;
  margin-left: 14px;
}
.torso_shade::after {
  content: "";
  position: absolute;
  border: 2px solid #474747;
  margin-top: -3px;
  width: 104px;
  margin-left: -6px;
  transform: rotate(1deg);
  border-radius: 17px;
}

#cape {
  height: 156px;
  width: 214px;
  border-radius: 29px 29px 45px 45px;
  background: #212121;
  margin-top: -34px;
  border: 10px solid #221715;
}

.belt {
  width: 53px;
  height: 32px;
  background: #b6b08c;
  border-radius: 33px 33px 33px 33px;
  margin-top: -54px;
  border: 5px solid #221715;
  margin-left: 31px;
}

.belt::after {
  content: "";
  position: absolute;
  border: 2px solid #6e6544;
  margin-top: 4px;
  width: 30px;
  margin-left: 6px;
  border-radius: 17px;
}

.belt::before {
  content: "";
  position: absolute;
  border: 2px solid #6e6544;
  margin-top: 9px;
  width: 30px;
  margin-left: 6px;
  border-radius: 17px;
}
.belt_ {
  content: "";
  position: absolute;
  border: 2px solid #6e6544;
  margin-top: 14px;
  width: 30px;
  margin-left: 6px;
  border-radius: 17px;
}
.belt1 {
  width: 25px;
  height: 32px;
  background: #b6b08c;
  border-radius: 33px 33px 33px 33px;
  margin-top: -33px;
  border: 5px solid #221715;
  margin-left: 9px;
}
.belt1::after {
  content: "";
  position: absolute;
  border: 2px solid #6e6544;
  margin-top: 4px;
  width: 10px;
  margin-left: 2px;
  border-radius: 17px;
}
.belt1::before {
  content: "";
  position: absolute;
  border: 2px solid #6e6544;
  margin-top: 9px;
  width: 10px;
  margin-left: 2px;
  border-radius: 17px;
}
.belt_1 {
  content: "";
  position: absolute;
  border: 2px solid #6e6544;
  margin-top: 14px;
  width: 10px;
  margin-left: 2px;
  border-radius: 17px;
}
.belt2 {
  width: 22px;
  height: 32px;
  background: #b6b08c;
  border-radius: 33px 33px 33px 33px;
  margin-top: -32px;
  border: 5px solid #221715;
  margin-left: 82px;
}
.belt2::after {
  content: "";
  position: absolute;
  border: 2px solid #6e6544;
  margin-top: 4px;
  width: 10px;
  margin-left: 1px;
  border-radius: 17px;
}
.belt2::before {
  content: "";
  position: absolute;
  border: 2px solid #6e6544;
  margin-top: 9px;
  width: 10px;
  margin-left: 1px;
  border-radius: 17px;
}
.belt_2 {
  content: "";
  position: absolute;
  border: 2px solid #6e6544;
  margin-top: 14px;
  width: 10px;
  margin-left: 1px;
  border-radius: 17px;
}
.belt3 {
  width: 14px;
  height: 32px;
  background: #b6b08c;
  border-radius: 33px 33px 33px 33px;
  margin-top: -33px;
  border: 5px solid #221715;
  margin-left: -2px;
}
.belt4 {
  width: 14px;
  height: 32px;
  background: #b6b08c;
  border-radius: 33px 33px 33px 33px;
  margin-top: -31px;
  border: 5px solid #221715;
  margin-left: 103px;
}
.bat-hands {
  margin-left: -255px;
}
.hand1 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #212121;
  margin-top: -9px;
  border: 10px solid #221715;
  position: relative;
  z-index: 3;
  margin-left: 200px;
}
.hand1::before {
  content: "";
  position: absolute;
  margin-top: 3px;
  width: 66px;
  margin-left: 15px;
  border-radius: 62px 46px 68px 52px;
  height: 60px;
  background: #323232;
  transform: rotate(-94deg);
}
.hand1::after {
  content: "";
  position: absolute;
  margin-top: 13px;
  width: 30px;
  margin-left: 40px;
  border-radius: 50%;
  height: 30px;
  background: #484848;
  transform: rotate(-94deg);
}
.hand2 {
  margin-left: 398px;
  margin-top: -97px;
}
.eye1 {
  width: 51px;
  height: 33px;
  border: 10px solid #221715;
  margin-top: -87px;
  background: white;
  border-radius: 0px 0px 79px 84px;
  transform: rotate(18deg);
  margin-left: 12px;
  animation-name: eyeanimation;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.eye1::before {
  content: "";
  position: absolute;
  margin-top: -1px;
  width: 31px;
  margin-left: 0px;
  border-radius: 0px 0px 79px 84px;
  height: 6px;
  background: #a7a29f;
  animation-name: eyeanimation2;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.eye1::after {
  content: "";
  position: absolute;
  margin-top: -2px;
  width: 10px;
  margin-left: 10px;
  border-radius: 0px 0px 79px 84px;
  height: 7px;
  background: #221715;
}
.bat-eyebrow {
  margin-top: -11px;
  width: 72px;
  margin-left: -21px;
  border-radius: 10px 10px 10px 10px;
  height: 11px;
  background: #221715;
  border: 3px solid transparent;
}
.eye2 {
  margin-left: 117px;
  margin-top: -35px;
  transform: rotate(-22deg);
}
.dark1 {
}
.dark1::after {
  content: "";
  position: absolute;
  border: 3px solid #221715;
  margin-top: -64px;
  width: 54px;
  margin-left: -6px;
  transform: rotate(0deg);
  border-radius: 17px;
}
.dark1::before {
  content: "";
  position: absolute;
  border: 3px solid #221715;
  margin-top: -64px;
  width: 50px;
  margin-left: 70px;
  transform: rotate(0deg);
  border-radius: 17px;
}
.bat-sign {
  height: 16px;
  width: 70px;
  background: #221715;
  margin-top: -75px;
  margin-left: 23px;
}
.bat-sign::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 5px;
  background: #221715;
  transform: skew(302deg) rotate(-322deg);
  margin-left: -19px;
  margin-top: 7px;
}
.bat-sign::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 6px;
  background: #221715;
  transform: skew(47deg) rotate(-228deg);
  margin-left: 57px;
  margin-top: -25px;
}
.lower_tail {
  width: 0;
  height: 0;
  position: relative;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-top: 32px solid #221715;
  margin-left: 8px;
}
.lower_tail::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 8px solid #221715;
  margin-left: -9px;
  margin-top: -39px;
}
.lower_tail::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 8px solid #221715;
  margin-left: 2px;
  margin-top: -39px;
}
.bat {
  margin-top: -81px;
}
.bat::before {
  content: "";
  position: absolute;
  border: 3px solid #221715;
  margin-top: 11px;
  width: 54px;
  margin-left: -6px;
  transform: rotate(-6deg);
  border-radius: 17px;
}
.bat::after {
  content: "";
  position: absolute;
  border: 3px solid #221715;
  margin-top: 11px;
  width: 54px;
  margin-left: 19px;
  transform: rotate(6deg);
  border-radius: 17px;
}
.white_shine {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-right: 30px solid #4c4e49;
  border-bottom: 0px solid transparent;
  margin-top: -20px;
  transform: rotate(-4deg);
  margin-left: -3px;
}

.white_shine::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-right: 13px solid #4c4e49;
  border-bottom: 0px solid transparent;
  margin-top: -9px;
  transform: rotate(114deg);
  margin-left: 25px;
}
.white_shine::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-right: 15px solid #4c4e49;
  border-bottom: 0px solid transparent;
  margin-top: 4px;
  transform: rotate(238deg);
  margin-left: 24px;
}
.rotate {
  transform: rotate(193deg);
  margin-left: 45px;
  margin-top: -18px;
}

.batman_shadow {
  width: 163px;
  height: 55px;
  background: RGB(40, 40, 41);
  border-radius: 100px/ 50px;
  margin-top: -1px;
  animation-name: shadow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.batman_shadow::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 33px;
  background: RGB(40, 40, 41);
  border-radius: 100px/ 50px;
  margin-top: 11px;
  margin-left: 141px;
  animation-name: shadow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.batman_shadow::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 33px;
  background: RGB(40, 40, 41);
  border-radius: 100px/ 50px;
  margin-top: 10px;
  margin-left: -49px;
  animation-name: shadow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.batman {
  position: relative;
  z-index: 1;
  animation: Floatingx;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: Floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
/* 
@keyframes Floatingx {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

@keyframes Floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
} */

@keyframes eyeanimation {
  0% {
    background-color: white;
  }
  50.0% {
    background-color: #221715;
  }
  100.0% {
    background-color: white;
  }
}

@keyframes eyeanimation {
  0% {
    background-color: white;
  }
  50.0% {
    background-color: #221715;
  }
  100.0% {
    background-color: white;
  }
}

@keyframes eyeanimation2 {
  0% {
    background-color: #a7a29f;
  }
  50.0% {
    background-color: #221715;
  }
  100.0% {
    background-color: #a7a29f;
  }
}

@keyframes eyeanimation2 {
  0% {
    background-color: #a7a29f;
  }
  50.0% {
    background-color: #221715;
  }
  100.0% {
    background-color: #a7a29f;
  }
}
